body {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgb(231, 217, 197);
    color: rgb(86, 60, 40);
}

h1, 
h3 {
    font-family: "Snell Roundhand", serif;
    text-align: center;
    margin: 50px;
}

/* index page */
.recipelist {
    font-size: 20px;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.button {
    display: block;
    background-color: burlywood;
    width: 200px;
    padding: 10px;
    border: 2px solid rgb(86, 60, 40);
    border-radius: 25px;
    margin: 20px auto;
    text-align: center;
}

/* recipe pages */
.img {
    display: block;
    margin: 50px auto;
}

.resize {
    width: 60%;
    height: auto;
}

h3 {
    margin-bottom: 20px;
}

.desc {
    text-align: center;
    padding: 0 40px;
}

h4 {
    color: burlywood;
    padding: 0 10px;
    margin-bottom: 0;
}

li {
    padding: 4px 0;
}

.section {
    background-color: #fffbee;
    padding: 30px;
    border-radius: 25px;
    margin: 0 20px;
}

a:visited {
    color: #fffbee;
}

a:unvisited {
    color:rgb(86, 60, 40);
}